<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <variable name="messageLayout" value="${message}"/>
  <variable name="messageLayout_Inline" value="${replace:inner=${messageLayout}:searchFor=\\r\\n|\\n:replaceWith=->:regex=true}"/>
  
  <targets>
    <target name="txtFile" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}.txt"
        layout="${longdate} - ${threadid} ] ${level:uppercase=true} -- ${callsite:className=true} : ${messageLayout_Inline} ${newline} ${exception:format=tostring} ${exception:stacktrace} ${newline}"
        maxArchiveFiles="7"
        keepFileOpen="false"
        concurrentWrites="true"
        archiveNumbering="Rolling"
        archiveFileName="${basedir}/archives/log_${date}.txt"
        archiveEvery="Day"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="txtFile" />
  </rules>
</nlog>