<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mailSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <mailSettings configSource="mailSettings.config" />
  <connectionStrings configSource="connectionStrings.config" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SQLProviderType" value="2"/>  <!-- MSSQL=1, POSTGRE=2, ORACLE=3-->
    <add key="ExportType" value="1"/>       <!--CSV=1, EXCEL=2-->
    <add key="NeedSend" value="Y" />
    <add key="NeedCmdPause" value="Y" />
    <add key="exportPath" value="\Excel\" />
    <add key="queryPath" value="\Query\" />
  </appSettings>
</configuration>