<connectionStrings>
    <!--MSSQL連線字串-->
    <!--connectionString="data source=localhost;initial catalog=EnumSample;persist security info=True;user id=admin;password=1234;MultipleActiveResultSets=True;"-->
    <!--POSTGRE連線字串-->
    <!--connectionString="Server=localhost;Port=5432;Database=EnumSample;User Id=admin;Password=1234;Encoding=UNICODE;"-->
    <!--ORACLE連線字串-->
    <!--connectionString="data source=localhost;user id=admin;password=1234"-->
    <add name="conn" connectionString="data source=localhost;initial catalog=EnumSample;persist security info=True;user id=admin;password=1234;MultipleActiveResultSets=True;" />
</connectionStrings>