<mailSettings>
  <!--Server Info-->
  <add key="MailServer" value="127.0.0.1" /> <!-- localhost -->
  <add key="Port" value="25" />
  <add key="EnableSsl" value="N" />
  <!--Mail Info-->
  <add key="MailFrom" value="" />
  <add key="MailTo" value="" />
  <add key="Mailcc" value="" />
  <add key="MailBcc" value="" />
  <!--Credential-->
  <add key="EnableCredential" value="" />
  <add key="MailAccount" value="" />
  <add key="MailPwd" value="" />
</mailSettings>